header{
  max-width: 1170px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
 }
  .nav-wrap{
    display: flex;
    flex-wrap: nowrap;
  }
  .nav-element{
    display: flex;
    flex-wrap: nowrap;
    color: #635c73;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
  }

  .header-button{
    padding: 12px 36px 13px 36px;
    color: #fff;
    background-color: #8d81ac;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    border: none;
    border-radius: 27px;
  }
.logo{
  //background: url('../img/header/logo-icon.png') no-repeat left;
  background-size:contain;
  display: inline-block;
  max-width: 35%;
  height: auto;
  content: url('../img/header/logo-icon.png');
}
//скрываем сэндвич
#dws-menu,
header label{
  display: none;
}

@media screen and (max-width: 900px) {
  header {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10%;
    align-items: center;
  }
  .nav-element{
    padding-right: 5%;
    font-size: 20px;
  }
    .header-button{
      margin-top: 15px;
    }
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 10%;
    align-items: center;
  }
  .nav-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .nav-element{
    display: block;
    flex-wrap: nowrap;
    font-weight: 600;
  }
    .header-button{
      margin-top: 15px;
    }
}


