header{
  max-width: 1170px;
  padding: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
 }

.nav-element{
  color: #635c73;
  padding-right: 45px;
}
.header-button{
  padding: 12px 36px 13px 36px;
  color: #fff;
  background-color: #8d81ac;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  border: none;
  border-radius: 27px;
}
.logo{
  //background: url('../img/header/logo-icon.png') no-repeat left;
  background-size:contain;
  display: inline-block;
  max-width: 35%;
  height: auto;
  content: url('../img/header/logo-icon.png');
}
.header-burger-menu{
  display: none;
}
@media screen and (max-width: 900px) {
  header {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10%;
    align-items: center;
  }
  .nav-element{
    padding-right: 5%;
    font-size: 20px;
  }
    .header-button{
      margin-top: 15px;
    }
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 10%;
    align-items: center;
  }
  .nav-wrap{
    display: block;
    flex-wrap: nowrap;
  }
  .nav-element{
    display: block;
    flex-wrap: nowrap;
    font-weight: 600;
  }
    .header-button{
      margin-top: 15px;
    }
}

@media screen and (max-width: 480px) {
  header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    text-align: center;
  }
    .nav-element{
      display: none;
    }
    .logo{
      display: inline-flex;
      font-size:15%;
    }
  img .logo-icon{
    width: 70%;
  }
  button .header-button{
    padding: 16px 36px;
    text-align: center;
    max-width: 77px;
    height: auto;
    .header-button {
      display: inline-flex;
      text-align: center;
      margin: 0 auto;

      font-size: 10px;
      font-weight: 700;
      line-height: 15px;
    }
  }
    .header-button-element:after{
      content: "";
      background: url('../img/header/header-sandwich.png') no-repeat;
      width: 26px;
      height: 21px;
      display: inline-flex;
      cursor: pointer;
    }
}
