footer{
  margin: auto;
  display: flex;
  background-image: linear-gradient(51deg,#3695ff 0,#3564fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #3677fd;
}
.footer-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 65px;
  color: #fff;
  margin: 0 auto;
}
.form-wrap{
  display: inline-block;
}
#footer-hire-me{
  margin: 65px;
}
@media screen and (max-width:840px ){
  #footer-hire-me{
    margin: 25px;
  }
  .form-wrap{
    display: block;
    text-align: center;
  }
}